// What Is Sass?

// 1. Sass (Syntactically Awesome StyleSheets)
// 2. CSS PreProcessor / Extension
// 3. Let's you use features that do not exsist in CSS
// 4. Let,s you use features that do not exist in CSS
// 5. Sass (.scss) files are compiled to regular CSS

// --------------------------------------------------

// Variables In CSS

// 1. Prefixed with a "$"
// 2. $primary-color: blue
// 3. Easier to read and write than CSS custom properties

$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

// Nesting

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

// Modules

// styles.scss
@use 'base';

.inverse {
    background-color: $primary-color;
    color: white;
}